$white: #ffffff;
$blue: #006CFF;
$blackText: #252a31;
$hr: rgba(37, 42, 49, 0.1);
$inputBorder: #cccccc;
$addShadow: rgba(21, 35, 56, 0.16);
$timeText: rgba(37, 42, 49, 0.3);
$modalBack: rgba(255, 255, 255, 0.4);
$modalTime: rgba(255, 255, 255, 0.5);
$modalAddButtonsShadow: rgba(19, 28, 41, 0.2);
$addListShadow: rgba(0, 0, 0, 0.1);