$mainBack: #ffffff;
$title: #252a31;
$dots: #006cff;
$hr: rgba(37, 42, 49, 0.1);
$pText: #252a31;
$inputBack: #ffffff;
$inputBorder: #cccccc;
$addBack: #ffffff;
$addText: #006cff;
$addShadow: rgba(21, 35, 56, 0.16);
$timeText: rgba(37, 42, 49, 0.3);
$modalBack: rgba(255, 255, 255, 0.4);
$modalAddButtonsShadow: rgba(19, 28, 41, 0.2);
$addListShadow: rgba(0, 0, 0, 0.1);
$addListColor: #006CFF;
$addListBack: #FFFFFF;
$cancelDoneButton: #006CFF;
$caretColor: #006CFF;