@mixin only($w) {
    @media only screen and (max-width: $w) {
        @content;
    }
}

@keyframes up {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0%;
    }
}

@keyframes down {
    from {
        bottom: 0%;
    }
    to {
        bottom: -100%;
    }
}

body {
    display: flex;
    justify-content: center;
}

#container {
    position: relative;
    max-width: 546px;
    width: 100%;
    background-color: $white;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__day {
    margin: 16px 0px 16px 60px;
    font-family: "SFProDisplay";
    font-size: 32px;
    font-weight: bold;
    line-height: 41px;
    letter-spacing: 0.01em;
    color: $blackText;
}

.header__setup-button {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 12px;

    span {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $blue;
    }
}

.tasks__list-item {
    position: relative;
    display: flex;
    align-items: center;

    input {
        margin: 0 23.6px;
    }

    p {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 19px 44px 19px 0;
        border-bottom: solid 1px $hr;
        font-family: "SFProText";
        font-size: 18px;
        line-height: 21px;
        letter-spacing: -0.02em;
        color: $blackText;

        span {
            &:first-child:before {
                content: " ";
                position: absolute;
                display: block;
                width: 24px;
                height: 24px;
                margin-right: 5px;
                background-color: transparent;
                border: 2px solid $inputBorder;
                border-radius: 50%;
                left: -42px;
                top: 29%;
            }
        }

        span.check:first-child:before {
            content: " ";
            position: absolute;
            left: -40px;
            top: 29%;
            display: block;
            width: 24px;
            height: 24px;
            margin-right: 5px;
            background-color: white;
            border: none;
            background-image: url("../img/arrow.svg");
            background-position: center;
            border-radius: 50%;
        }
    }
}

.custom-checkbox {
    visibility: hidden;
}

input[type="checkbox"]:checked + p > span:first-child:before {
    background-image: url("../img/arrow.svg");
    background-position: center;
    border-width: 0;
}

.dot-color {
    position: absolute;
    right: 16px;
    margin-left: 16px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

li[data-category="inbox"] .list-text,
li[data-category="family"] .list-text {
    color: $blackText;
    opacity: 0.9;
}

li[data-category="work"] .list-text,
li[data-category="shopping"] .list-text {
    color: $white;
    opacity: 0.9;
}

li[data-category="inbox"] .list-count-task,
li[data-category="family"] .list-count-task {
    color: $blackText;
    opacity: 0.5;
}

li[data-category="work"] .list-count-task,
li[data-category="shopping"] .list-count-task {
    color: $white;
    opacity: 0.5;
}

.lists__title {
    padding: 32px 0 15px 60px;
    font-family: SFProText;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.385882px;
    mix-blend-mode: normal;
}

.lists__list-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 0 16px 8px 58px;
    padding: 12px 16px;
    border-radius: 10px;
}

.list-text {
    font-family: "SFProText";
    font-size: 19px;
    line-height: 23px;
    letter-spacing: -0.458235px;
    color: $blackText;
    mix-blend-mode: normal;
    opacity: 0.9;
}

.list-count-task {
    font-family: "SFProText";
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.337647px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.add-button {
    cursor: pointer;
    position: fixed;
    right: 16px;
    bottom: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    font-size: 30px;
    color: #006cff;
    background-color: $white;
    box-shadow: 0px 24px 32px $addShadow;
    border-radius: 50%;
    transition-duration: 0.6s;
}

.add-button__img {
    background-color: transparent;
    transition-duration: 0.6s;
}

.custom-checkbox {
    position: relative;
}

.task-time {
    position: relative;
    font-family: "SFProText";
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.337647px;
    color: $timeText;
    mix-blend-mode: normal;
    padding-left: 18px;
    margin-top: 5px;
    opacity: 0.5;

    &::before {
        position: absolute;
        left: 0px;
        top: 0;
        content: " ";
        display: block;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        background-image: url(../img/clock.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 13px;
    }
}

.modal-add {
    width: 100vw;
    height: 100vh;
    background-color: $modalBack;
    position: fixed;
    top: 0;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.6s;
}

.modal-add__buttons {
    position: fixed;
    right: -100%;
    bottom: 124px;
    display: flex;
    flex-direction: column;
    width: 220px;
    filter: drop-shadow(0px 10px 30px $modalAddButtonsShadow);
    border-radius: 10px;
    transition-duration: 0.6s;
}

.add-task,
.add-list {
    cursor: pointer;
    position: relative;
    padding: 19px 0 19px 54px;
    font-family: "SFProText";
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.43px;
    color: $blue;
    background-color: $white;
    box-shadow: inset 0px -1px 0px $addListShadow;
}

.add-task {
    border-radius: 10px 10px 0 0;
    &::before {
        position: absolute;
        left: 19px;
        top: 19px;
        content: " ";
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(../img/task.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 22px;
    }
}

.add-list {
    border-radius: 0 0 10px 10px;
    &::before {
        position: absolute;
        left: 19px;
        top: 19px;
        content: " ";
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(../img/list.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 22px;
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.createTask-page,
.createCategory-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.create-task__header,
.create-category__header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.cancel-button {
    font-family: "SFProText";
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.43px;
    color: $blue;
}

.create-task__body,
.create-category__body {
    display: flex;
    padding: 18px;
    align-items: center;

    label {
        position: relative;
        width: 24px;
        height: 24px;
        padding-right: 18px;

        input {
            position: absolute;
            top: 27%;
            left: 15%;
        }
    }
}

input[type="checkbox"]:checked + span {
    background-image: url(../img/arrow.svg);
    background-position: center;
    border-width: 0;
}

.category-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.task-checkbox {
    width: 22px;
    height: 22px;
    background: $white;
    margin-right: 5px;
    border: 2px solid $inputBorder;
    border-radius: 50%;
    display: inline-block;
}

.done-button,
.create-category__done-button {
    font-family: "SFProText";
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.43px;
    color: $blue;
    font-weight: bold;
}

.input-text {
    font-family: "SFProText";
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: $blackText;
    border: none;
    outline: none;
    caret-color: $blue;

    &::placeholder {
        color: $blackText;
        opacity: 0.4;
    }
}

.create-task__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 14px;
    border-top: solid 1px $hr;
}

.create-category__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 14px;
    border-top: solid 1px $hr;
}

.calendar-button {
    cursor: pointer;
    img {
        margin-right: 23px;
    }
}

.clock-button {
    cursor: pointer;
}

.category-button {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.category-button__text {
    padding-right: 20px;
    font-family: "SFProText";
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    letter-spacing: -0.02em;
    color: $blackText;
    opacity: 0.4;
}

.category-сhoose {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 310px;
    height: 0px;
    overflow: scroll;
    transition-property: height;
    transition-duration: 0.6s;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.category-сhoose .lists__list .lists__list-item {
    position: relative;
    margin: 0 16px 8px 16px;
}

.selected {
    &::before {
        position: absolute;
        right: 20px;
        top: 20px;
        content: " ";
        display: block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-image: url(../img/checked.svg);
        background-color: $white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 22px;
    }
}

.modal-category {
    position: absolute;
    bottom: -100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 98%;
    padding-left: 60px;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    transition-property: bottom;
    transition-duration: 0.6s;
}

.modal-category__close-button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 50%;
    width: 37px;
    height: 5px;
    background: $blackText;
    mix-blend-mode: normal;
    opacity: 0.2;
    border-radius: 3px;
}

.modal-category__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 14px 16px 0px;
}

.modal-category__header-text {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 0px;
}

.modal-category__header-category {
    font-family: "SFProDisplay";
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.01em;
    color: $white;
}

.modal-category__header-count {
    font-family: "SFProText";
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: $white;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.open {
    animation: up 0.6s linear;
    animation-fill-mode: forwards;
}

.close {
    animation: down 0.6s linear;
    animation-fill-mode: forwards;
}

.shape {
    cursor: pointer;
}

main {
    overflow: scroll;
    height: 100vh;
    &::-webkit-scrollbar {
        width: 0;
    }
}

.modal-category .task-time {
    &::before {
        position: absolute;
        left: 0px;
        top: 0;
        content: " ";
        display: block;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        background-image: url(../img/clockWhite.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 13px;
    }
}

#input-text {
    display: none;
    font-family: "SFProDisplay";
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.01em;
    color: $blackText;
    border: none;
    outline: none;
    caret-color: $blue;
    background-color: transparent;

    &::placeholder {
        color: $blackText;
        opacity: 0.4;
    }
}

.create-category__colors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;

    span {
        width: 50px;
        height: 50px;
        margin: 27px;
        border: 2px solid $white;
        border-radius: 50%;
        box-shadow: 0px 24px 32px $addShadow;
    }
}

span.selectedColor {
    border: 1px solid $blackText;
    transform: scale(1.3);
}

.category-сhoose .lists__list {
    width: 100%;
}

.clock {
    width: 137px;
    font-family: "SFProText";
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.627059px;
    color: $blackText;
    outline: none;
    border: none;
    z-index: 2;
}

.range-line {
    position: absolute;
    width: 100%;
    height: 41px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    opacity: 0.2;
}

.input-info {
    display: flex;
    flex-direction: column;
}
